body {
    font-family: Verdana;
}

.main-content {
    margin: 0 auto;
    max-width: 1024px;
}

.summary {
    column-count: 3;
}

.person {
    margin-top: 80px;
    display: inline-block;
}

.person-details {
    display: inline-block;    
}

.category {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
    letter-spacing: 4px;
    color: #999;
    text-transform: uppercase;
}