body {
    font-family: Verdana;
}

.main-content {
    margin: 0 auto;
    max-width: 1024px;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person {
    flex: 0 0 50%;
    text-align: center;
}

.person-details {
    display: inline-block;   
}

.category {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
    letter-spacing: 4px;
    color: #999;
    text-transform: uppercase;
}